---
title: Projects
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
	  <li data-filter="all" class="filter active">所有</li>
	  <li data-filter="CushionCover" class="filter">抱枕设计</li>
	  <li data-filter="Software" class="filter">控制软件</li>
	  <li data-filter="Ecommerce" class="filter">电子商务网站</li>
	  <li data-filter="ERP" class="filter">应用软件</li>
	</ul>
	<div class="row mix-grid thumbnails">


    <div class="col-md-4 col-sm-6 mix Software " style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Software/img1.png" class="img-responsive">
	      <div class="mix-details">
		<h4>GENERAL OVERVIEW</h4>
		<p>The T3000 Building Automation System is a total solution which the building operator can use to manage the mechanical
       and lighting systems of the building.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>GENERAL OVERVIEW</h2>
		<p>The T3000 Building Automation System is a total solution which the building operator can use to manage the mechanical and lighting systems of the building. It is simple enough to use that beginners will be able to perform basic tasks such as adjusting setpoints & schedules, tend to alarms and perform day to day troubleshooting of the system without special training. Advanced users will be able to dig into advanced features such as tuning the logic, adding new screens & reports and optimizing the building. All the software is included for each site, advanced features like data archiving and creating new screens can be done by the building owner without paying any license or recurring cloud fees.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Source code in the github</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://github.com/ALEXLCC class="btn-transparent"><i class="fa fa-github margin-right-10"></i>Open Source</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> Dev Tool：VC++ 2010</li>
		      <li><i class="fa fa-play"></i> MFC </li>
		      <li><i class="fa fa-play"></i> C++</li>
		      <li><i class="fa fa-play"></i> ACCESS,SQLite</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> Modbus</li>
		      <li><i class="fa fa-play"></i> BACnet</li>
		      <li><i class="fa fa-play"></i> Sensor</li>
		      <li><i class="fa fa-play"></i> Controller</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://github.com/ALEXLCC >Github</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> return</a>
	      </div>
	    </div>
	  </div>

    <div class="col-md-4 col-sm-6 mix Software " style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Software/img2.png" class="img-responsive">
	      <div class="mix-details">
		<h4>简介</h4>
		<p>Modbus 调试工具，支持Modbus RTU,TCP以及数据监控，画曲线等</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>简介</h2>
		<p>Modbus 调试工具，支持Modbus RTU,TCP以及数据监控，画曲线等</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Source code in the github</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://github.com/MonetInfor/Open-Modbus-Poll-RTU class="btn-transparent"><i class="fa fa-github margin-right-10"></i>Open Source</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> Dev Tool：VC++ 2010</li>
		      <li><i class="fa fa-play"></i> MFC </li>
		      <li><i class="fa fa-play"></i> C++</li>
		      <li><i class="fa fa-play"></i> ACCESS,SQLite</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> Modbus</li>
		      <li><i class="fa fa-play"></i> Monitor</li>
		      <li><i class="fa fa-play"></i> Sensor</li>
		      <li><i class="fa fa-play"></i> Controller</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://github.com/MonetInfor/Open-Modbus-Poll-RTU >Github</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> return</a>
	      </div>
	    </div>
	  </div>

    <div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Cushion/img1.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>抱枕设计</h4>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>抱枕设计</h2>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
		      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
		      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
		      <li><i class="fa fa-play"></i> 支持定制</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 适合企业宣传</li>
		      <li><i class="fa fa-play"></i> 生日礼物</li>
		      <li><i class="fa fa-play"></i> 亲朋好友</li>
		      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
	      </div>
	    </div>
	  </div>


    <div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Cushion/img2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>抱枕设计</h4>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>抱枕设计</h2>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
		      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
		      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
		      <li><i class="fa fa-play"></i> 支持定制</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 适合企业宣传</li>
		      <li><i class="fa fa-play"></i> 生日礼物</li>
		      <li><i class="fa fa-play"></i> 亲朋好友</li>
		      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
	      </div>
	    </div>
	  </div>

    <div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Cushion/img3.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>抱枕设计</h4>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>抱枕设计</h2>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
		      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
		      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
		      <li><i class="fa fa-play"></i> 支持定制</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 适合企业宣传</li>
		      <li><i class="fa fa-play"></i> 生日礼物</li>
		      <li><i class="fa fa-play"></i> 亲朋好友</li>
		      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
	      </div>
	    </div>
	  </div>


    <div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/Cushion/img4.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>抱枕设计</h4>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>抱枕设计</h2>
		<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">

		    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
		      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
		      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
		      <li><i class="fa fa-play"></i> 支持定制</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-play"></i> 适合企业宣传</li>
		      <li><i class="fa fa-play"></i> 生日礼物</li>
		      <li><i class="fa fa-play"></i> 亲朋好友</li>
		      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
	      </div>
	    </div>
	  </div>


    <div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
  <div class="mix-inner">
    <img alt="" src="/metronic/assets/pages/img/works/Cushion/img5.jpg" class="img-responsive">
    <div class="mix-details">
<h4>抱枕设计</h4>
<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
<a class="mix-link"><i class="fa fa-link"></i></a>
<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
    </div>
    <div class="mix-info container">
<h2>抱枕设计</h2>
<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
<div class="row quote-v1 margin-bottom-30">
  <div class="col-md-7 quote-v1-inner">
    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
  </div>
  <div class="col-md-5 quote-v1-inner text-right">

    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
  </div>
</div>
<div class="row front-lists-v2 margin-bottom-15">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
      <li><i class="fa fa-play"></i> 支持定制</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><i class="fa fa-play"></i> 适合企业宣传</li>
      <li><i class="fa fa-play"></i> 生日礼物</li>
      <li><i class="fa fa-play"></i> 亲朋好友</li>
      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
    </ul>
  </div>
</div>
<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 mix CushionCover mix_all" style="display: block;  opacity: 1;">
  <div class="mix-inner">
    <img alt="" src="/metronic/assets/pages/img/works/Cushion/img6.jpg" class="img-responsive">
    <div class="mix-details">
<h4>抱枕设计</h4>
<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
<a class="mix-link"><i class="fa fa-link"></i></a>
<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
    </div>
    <div class="mix-info container">
<h2>抱枕设计</h2>
<p>把手绘的设计图，利用现代转印技术到具有棉麻质感的抱枕上，是不是别有一番风味呢。想象一下，放几个具有别具一个的抽象画抱枕，来提升一下自己家具的格调吧</p>
<div class="row quote-v1 margin-bottom-30">
  <div class="col-md-7 quote-v1-inner">
    <span>如果你喜欢的话，请到我们的商城看一下吧。</span>
  </div>
  <div class="col-md-5 quote-v1-inner text-right">
    <a href= https://monettrade.taobao.com/ class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>看看吧</a>
  </div>
</div>
<div class="row front-lists-v2 margin-bottom-15">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><i class="fa fa-play"></i> 规格：45CM*45CM</li>
      <li><i class="fa fa-play"></i> 材质：天然棉麻</li>
      <li><i class="fa fa-play"></i> 适用：沙发、卧室</li>
      <li><i class="fa fa-play"></i> 支持定制</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><i class="fa fa-play"></i> 适合企业宣传</li>
      <li><i class="fa fa-play"></i> 生日礼物</li>
      <li><i class="fa fa-play"></i> 亲朋好友</li>
      <li><i class="fa fa-play"></i> 节日宴会装饰</li>
    </ul>
  </div>
</div>
<a class="btn btn-lg btn-primary" style="color: white;" href= https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-5175049419.44.NTb9Ro&id=39217851291 >查看详情</a>
<a class="btn btn-lg btn-default back" href="javascript:;"> 返回</a>
    </div>
  </div>
</div>







	</div>
      </div>
    </div>
  </div>
</div>
